.Cart {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 700rem;
    height: 80rem;
    background-color: #333;
    border-radius: 60px;
    bottom: 10rem;
    left: 0;
    right: 0;
    margin: auto;
}

.Icon {
    width: 80rem;
    position: absolute;
    bottom: -6rem;
}

.Icon img {
    width: 100%;
}

.TotalAmount {
    position: absolute;
    width: 36rem;
    height: 36rem;
    line-height: 36rem;
    text-align: center;
    background-color: #f00;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 22rem;
    right: -12rem;
}

.Price {
    display: flex;
    align-items: center;
    margin-left: 120rem;
    font-size: 36rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Price::before {
    content: '$';
    font-size: 24rem;
}

.Button {
    border: none;
    background-color: #FCBF49;
    width: 160rem;
    border-radius: 60rem;
    font-size: 30rem;
}