.Meal{
    display: flex;
    padding: 30rem 20rem;
    border-bottom: 1px #f2f2f2 solid;
    align-items: center;
}

.ImgBox{
    width: 260rem;
}

img{
   width: 100%;
}

.Title{
font-weight: normal;
 font-size:18px ;
 margin: 0;
}

.Desc{
    color: #999; 
    margin: 0;
    font-size: 13px;
    padding-right: 30rem;
    /* background-color: brown; */
}

.PriceWrap{
    margin-top: 30rem;
    display: flex;
    justify-content: space-between;
}

.Price{
    font-weight: bold;
    font-size: 20px;
}

.Price::before{
    content: '$';
    font-size:13px;
}