.Meal {
    display: flex;
    padding: 30rem 20rem;
    border-bottom: 1px #f2f2f2 solid;
    align-items: center;
}

.ImgBox {
    width: 260rem;
}

img {
    width: 100%;
}

.Title {
    font-weight: normal;
    font-size: 36rem;
    margin: 0;
}

.Desc {
    color: #999;
    margin: 0;
    font-size: 26rem;
    padding-right: 30rem;
    /* background-color: brown; */
}

.PriceWrap {
    margin-top: 30rem;
    display: flex;
    padding-right: 30rem;
    justify-content: space-between;
}

.Price {
    font-weight: bold;
    font-size: 40rem;
}

.Price::before {
    content: '$';
    font-size: 26rem;
}