.FilterMeals {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    height: 120rem;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
}

.InputOuter {
    position: relative;
    display: flex;
    align-items: center;
}

.SearchInput {
    font-size: 28rem;
    width: 650rem;
    height: 60rem;
    border: none;
    border-radius: 14px;
    background-color: #f2f2f2;
    padding-left: 60rem;
    outline: none;
}

.SearchIcon {
    color: #c0c0c0;
    font-size: 40rem;
    position: absolute;
    left: 16rem;
    top: 0;
    bottom: 0;
    margin: auto;
}