.Checkout{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #eee;
    padding:  20rem;
}

.Close{
    color: #666;
    font-size: 36rem;
}

.MealsDesc{
    background-color: #fff;
    border-radius: 10px;
    padding: 0 20rem;
}

.Header{
    display: flex;
    border-bottom:1px solid #f2f2f2;
    height: 80rem;
    align-items: center;
    font-size: 20rem;
    color: 333;
}

.Footer{
    position: relative;
    height: 120rem;
    border-top: 1px #f2f2f2 dashed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 36rem;
    font-weight: bold;
}
.Footer::before,
.Footer::after{
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color:#eee ;
    border-radius: 50%;
    top: -10rem;
    left: -30rem  ;
}

.Footer::after{
    left: auto;
    right: -30rem;
}

.TotalPrice::before{
    content:'Total: $';
    font-weight: normal;
    font-size: 16rem;
    margin-right: 10rem;
}

.Meals{
   
    max-height: 900rem;
    overflow: auto;
}