.Counter {
    display: flex;
    align-items: center;
}


.Sub,
.Add {
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 20rem; */
    border: none;
    background-color: #FCBF49;
    width: 40rem;
    height: 40rem;

    border-radius: 50%;
    font-size: 30rem;
    padding: 0%;
}

.Sub {
    background-color: white;
    border: 1px solid black;
}

.count {
    font-size: 36rem;
    margin: 0 5px;
}